{% extends "front/front_signbase.html" %}
{% from "common/_macros.html" import static %}

{% block title %}
登录--校园论坛
{% endblock %}

{% block head %}
<script src="{{ static("front/js/front_signin.js") }}"></script>
{% endblock %}

{% block page_title %}
论坛账号登录
{% endblock %}

{% block signbox %}
<div class="form-group">
    <input type="text" class="form-control" name="telephone" placeholder="手机号码">
</div>
<div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="密码">
</div>
<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control" name="graph_captcha" placeholder="图形验证码">
        <span class="input-group-addon captcha-addon">
            <img id="captcha-img" class="captcha-img" src="{{ url_for("common.graph_captcha") }}" alt="">
        </span>
    </div>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="remember" value="1">记住我
    </label>
</div>
<div class="form-group">
    <button class="btn btn-warning btn-block" id="submit">立即登录</button>
</div>
<div class="form-group">
    <a href="{{ url_for("front.signup") }}" class="signup-link">没有账号？立即注册</a>
    <a href="" class="resetpwd-link" style="float: right;">忘记密码?</a>
</div>
{% endblock %}
