{%  from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  {% block title %}
  <title>首页--校园论坛CMS管理系统</title>
  {% endblock %}
  <!-- Bootstrap core CSS-->
  <link href="{{ static("cms/vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{{ static("cms/vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{{ static("cms/vendor/datatables/dataTables.bootstrap4.css") }}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{ static("cms/css/sb-admin.css") }}" rel="stylesheet">
    <script src="{{ static("common/jquery-3.4.1.min.js") }}"></script>
    <script src="{{ static("common/cpajax.js") }}"></script>

  <script src="{{ static("cms/js/sweetalert.min.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  {% block head %}
  {% endblock %}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">校园论坛CMS管理系统</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{{ url_for("cms.index") }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">首页</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">个人中心</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="{{ url_for("cms.profile") }}">个人信息</a>
            </li>
            <li>
              <a href="{{ url_for("cms.resetpwd") }}">修改密码</a>
            </li>
            <li>
              <a href="{{ url_for("cms.resetemail") }}">修改邮箱</a>
            </li>
          </ul>
        </li>
        {% set cms_user = g.cms_user %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.banners") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">轮播图管理</span>
          </a>
        </li>
        {% if cms_user.has_permission(CMSPermission.POSTER) %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.posts") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">帖子管理</span>
          </a>
        </li>
        {% endif %}

        {% if cms_user.has_permission(CMSPermission.COMMENTER) %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.comments") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">评论管理</span>
          </a>
        </li>
        {% endif %}

        {% if cms_user.has_permission(CMSPermission.BOARDER) %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.boards") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">板块管理</span>
          </a>
        </li>
        {% endif %}

        {% if cms_user.has_permission(CMSPermission.FRONTUSER) %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.fusers") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">前台用户管理</span>
          </a>
        </li>
        {% endif %}

        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="group.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">组管理</span>
          </a>
        </li>-->

        {% if cms_user.has_permission(CMSPermission.CMSUSER) %}
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.cusers") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">CMS用户管理</span>
          </a>
        </li>
        {% endif %}

        {% if cms_user.is_developer %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="{{ url_for("cms.croles") }}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">CMS组管理</span>
          </a>
        </li>
        {% endif %}

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("cms.profile") }}">
              {% if current_user.is_authenticated %}
              {{ current_user.username }}
              {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>注销</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for("cms.index") }}">首页</a>
        </li>
        {% block page_title %}

        {% endblock %}
      </ol>

      <!-- Example DataTables Card-->
      {% block main_content %}
        <div class="card mb-3">
        </div>
      {% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright &copy; 2019.10.22 By小沙砾<a target="_blank" href="https://www.cnblogs.com/aitiknowledge/">个人学习博客</a></small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">退出登录</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">是否退出登录？</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            <a class="btn btn-primary" href="{{ url_for("cms.logout") }}">确定</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ static("cms/vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ static("cms/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ static("cms/vendor/jquery-easing/jquery.easing.min.js") }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ static("cms/vendor/chart.js/Chart.min.js") }}"></script>
    <script src="{{ static("cms/vendor/datatables/jquery.dataTables.js") }}"></script>
    <script src="{{ static("cms/vendor/datatables/dataTables.bootstrap4.js") }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ static("cms/js/sb-admin.min.js") }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ static("cms/js/sb-admin-datatables.min.js") }}"></script>
    <script src="{{ static("cms/js/sb-admin-charts.min.js") }}"></script>



  </div>
</body>

</html>
